@font-face {
    font-family: "momwriter";
    src: url("mom_regular_macroman/Moms_typewriter-webfont.woff") format("woff");
}

html, body {
    width: 100vw;
    height: 100%

}

.momwriter {
    font-family: momwriter;
}